html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.link1 { grid-area: link1;
    transition: .3s ease-in-out;
}
.link2 { grid-area: link2;
    transition: .3s ease-in-out;
 }
.link3 { grid-area: link3; 
    transition: .3s ease-in-out;}


.nav {
    font-size: 1.5em;
    display: grid;
    grid-template-areas: 'link1 link1 link2 link2 link3 link3'
    'link1 link1 link2 link2 link3 link3';
    width: 100%;
}


.head {

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.nav > a {
    text-align: center;
    padding: 28px 0px;
    text-decoration: none;
    color:#f2f0f5d6;
    border: 2px;
    background-color:  #000000b0;

    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    
}

a:hover {
    background-color: #454748b7;
    color: #91b0cc
}

img {
    height: 400px;
    width: 400px;

}


.aDiv {
    max-width: 400px;
    min-width: 300px;
}


.portA {
    float: left;
    width: 49.5%;
    text-align: center;
    text-decoration: none;
    color:#91b0cc;
    padding: 2px;
    font-size: 1em;
    border: 1px groove;
    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    background-color: #000000d9;
    padding: 10px 0;
    color:#f2f0f5d6;
  }
  
  .portA2 {
    float: left;
    width: 49.5%;
    text-align: center;
    text-decoration: none;
    color:#91b0cc;
    padding: 2px;
    font-size: 1em;
    border: 1px groove;
    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    background-color: #000000d9; 
    padding: 10px 0;
    color:#f2f0f5d6;
  }

  .item {
      position: absolute;
      width: 400px;
      left: 0;
      right: 0;
      margin: 8% auto;
  }

  .empty {
      margin-bottom: 100px;
      height: 800px;
  }

  .a {
    
    visibility: visible;
}

  .b {
      visibility: hidden;
  }

  .c {
    visibility: hidden;
}

.d {
    visibility: hidden;
}

.e {
    visibility: hidden;
}

.f {
    visibility: hidden;
}

.g {
    visibility: hidden;
}