html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.link1 { grid-area: link1;
    transition: .3s ease-in-out;
}
.link2 { grid-area: link2;
    transition: .3s ease-in-out;
 }
.link3 { grid-area: link3; 
    transition: .3s ease-in-out;}


.nav {
    font-size: 1.5em;
    display: grid;
    grid-template-areas: 'link1 link1 link2 link2 link3 link3'
    'link1 link1 link2 link2 link3 link3';
    width: 100%;
}


.head {

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.nav > a {
    text-align: center;
    padding: 28px 0px;
    text-decoration: none;
    color:#f2f0f5d6;
    border: 2px;
    background-color:  #000000b0;

    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    
}

a:hover {
    background-color: #454748b7;
    color: #91b0cc
}

img {
    height: 400px;
    width: 400px;

}


.aDiv {
   width: 400px;

}


.portA {
    float: left;
    width: 49.5%;
    text-align: center;
    text-decoration: none;
    color:#91b0cc;
    padding: 2px;
    font-size: 1em;
    border: 1px groove;
    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    background-color: #000000d9;
    padding: 10px 0;
    color:#f2f0f5d6;
  }
  
  .portA2 {
    float: left;
    width: 49.5%;
    text-align: center;
    text-decoration: none;
    color:#91b0cc;
    padding: 2px;
    font-size: 1em;
    border: 1px groove;
    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    background-color: #000000d9; 
    padding: 10px 0;
    color:#f2f0f5d6;
  }

  .item {
      position: absolute;
      width: 400px;
      left: 0;
      right: 0;
      margin: 5% auto;
      transition: .6s ease-in-out;
  }

  .empty {
      margin-bottom: 100px;
      height: 800px;
  }

  .a {
    
    opacity: 1;
    transition: .6s ease-in-out;
    visibility: visible;
}

  .b {
    opacity: 0;
      transition: .6s ease-in-out;
      visibility: hidden;
  }

  .c {
    opacity: 0;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.d {
    opacity: 0;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.e {
    opacity: 0;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.f {
    opacity: 0;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.g {
    opacity: 0;
    transition: .6s ease-in-out;
    visibility: hidden;
}

.scrollUp{
    color: white;
    width: 300px;
    left: 0;
    right:0;
    margin: 3% auto;
    font-size: 1.5rem;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
   
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.one {
    background-color: #474747;
}

.two {
    background-color: #bbb;
}

.three {
    background-color: #bbb;
}

.four {
    background-color: #bbb;
}

.five {
    background-color: #bbb;
}

.six {
    background-color: #bbb;
}

.seven {
    background-color: #bbb;
}  

@media only screen and (max-width: 450px) {

    .scrollUp{
        color: white;
        width: 300px;
        left: 0;
        right:0;
        margin: 3% auto;
        font-size: 1.2rem;
        text-align: center;
    }

    img {
        height: 250px;
        width: 250px;
    
    }
    
    
    .aDiv {
        width: 250px;
     
    }

    .item {
        position: absolute;
        width: 250px;
        left: 0;
        right: 0;
        margin: 10% auto;
        transition: .6s ease-in-out;
    }
   
    .portA2 {
 
        width: 49.2%;
      
        padding: 6px 0;
  
      }

      .portA {
 
        width: 49.2%;
      
        padding: 6px 0;
  
      }

}