html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.link1 { grid-area: link1;
    transition: .3s ease-in-out;
}
.link2 { grid-area: link2;
    transition: .3s ease-in-out;
 }
.link3 { grid-area: link3; 
    transition: .3s ease-in-out;}


.nav {
    font-size: 1.5em;
    display: grid;
    grid-template-areas: 'link1 link1 link2 link2 link3 link3'
    'link1 link1 link2 link2 link3 link3';
    width: 100%;
}


.head {

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.nav > a {
    text-align: center;
    padding: 28px 0px;
    text-decoration: none;
    color:#f2f0f5d6;
    border: 2px;
    background-color:  #000000b0;

    box-shadow: 20px 20px 20px 20px #91b0cc1c;
    transition: .3s ease-in-out;
    
}

a:hover {
    background-color: #454748b7;
    color: #91b0cc
}

.mainDiv {

    background-image: url('../IMGS/6.jpg');
  

    min-height: 100%; 
  

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.about {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 600px;
  margin-top: 150px;
  text-align: center;
}

.socialIcons {
  position: relative;
  width: 600px;
  height: 60px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.gitHub {

  width: 300px;
  float: left;
}

.linkedin {

  width: 300px;
  float: left;
}

.resBut1 {
  width: 40%;
  transition: .2s ease-in-out;
}

.resBut1:hover {
  cursor: pointer;
  background-color: #00000052;

}



.wholeForm {
  clear: both;
  height:100px;

}

.title {
  width: 70%;
  color: white;
  border: 2px solid white;
  background-color: #000000b0;
  padding: 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.submit {
  margin-top: 10px;
  width: 30%;
  padding: .5em;
  color: white;
  border: 2px solid white;
  background-color: #000000b0;
  cursor: pointer;
}

.form-control {
  width: 70%;
  
  margin-bottom: 10px;
  padding: .5em;
  text-align: center;
  color: white;
  border-bottom: 2px solid white;
  background-color: #000000b0;
}

.form-message {
  text-align: center;
  width: 70%;
  color: white;
  border-bottom: 2px solid white;
  background-color: #000000b0;
  padding: .5em;
}

textarea:focus, input:focus{
    outline: none;
}
